<div class='container'>

		<%  @items_in_order.each do |cart_item|  %>
		 <p><%= cart_item.item.name %><%= cart_item.quantity %><span>  <span><%=  cart_item.cost %><p><br>
		<%  end %>

	<p><%= @total_cost %></p>

	<button><%=  link_to "Checkout", checkout_path %></button>
<div>