<div class="uk-grid">
<div class="uk-form">
 <%=  form_for :order, html:{ id: "new_checkout"} do |f| %>
 <%=  f.label :delivery_contact %>
 <%=  f.text_field :delivery_contact %>
 <%=  f.label :delivery_street %>
 <%=  f.text_field :delivery_street %>
 <%=  f.label :delivery_city %>
 <%=  f.text_field :delivery_city %>
 <%=  f.label :delivery_state %>
 <%=  f.text_field :delivery_state %>
 <%=  f.label :delivery_zip %>
 <%=  f.text_field :delivery_zip %>
<%= f.hidden_field :stripe_customer_token %>
 <p> Enter Credit Card Info </p>
 				<div class = "uk-form-row">
					<%= label_tag :card_number, "Credit Card Number" %>
					<%= text_field_tag :card_number, nil, name: nil %>
				</div>
				<div class = "uk-form-row">
					<%= label_tag :card_code, "Security Code" %>
					<%= text_field_tag :card_code, nil, name: nil %>
				</div>
				<div class = "uk-form-row">
					<%= label_tag :card_month, "Credit Expiration"	 %>
				   <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
		      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
				<div><br>
				<div class = "uk-form-row">
					<%=  label_tag :save_card, "Save Card Information" %>
					<%=  check_box_tag "save_card", "yes" %>
				</div>	
  <%=  f.submit "Complete Order" %>
 <%  end %>
</div>
</div>