<div class="uk-grid">
	<div class="uk-width-1-1 purchase_spacer">
 <h2><%=  @item.name %></h2>
 		<div class="uk-form">
			<%=  form_for @sub_order do |f| %>
			<div class = "uk-form-row">
						<%=  f.label :quantity %>
			<%=  f.text_field :quantity%>
		 </div>
			<%=  f.hidden_field :cost, :value => @item.cost.round(2) %>
			<div class ="uk-form-row">
				<p class= "item-cost" data-cost=<%="#{@item.cost}" %>> Cost:  <span class="cost"> $<%=  @item.cost %> </span></p>
						<%=  f.hidden_field :item_id, value: @item.id %>
			</div>
			<div class="uk-form-row">
		   <%=  f.submit "Add Item to Cart", :class => "uk-button" %>
		  </div>
	   <%  end %>

		</div> <!-- end form -->
	</div> <!-- end width -->
</div>  <!-- end grid -->